[submodule ".config/broot"]
  path = .config/broot
  url = git@github.com:AndydeCleyre/dotfiles-broot
  branch = master
[submodule ".config/mpv"]
  path = .config/mpv
  url = https://github.com/AndydeCleyre/dotfiles-mpv
  branch = main
[submodule ".config/tmux"]
  path = .config/tmux
  url = https://github.com/AndydeCleyre/dotfiles-tmux
  branch = main
[submodule ".config/zsh"]
  path = .config/zsh
  url = https://github.com/AndydeCleyre/dotfiles-zsh
  branch = main
[submodule ".config/espanso"]
	path = .config/espanso
	url = https://github.com/AndydeCleyre/dotfiles-espanso
[submodule ".config/fontconfig"]
	path = .config/fontconfig
	url = https://github.com/AndydeCleyre/dotfiles-fontconfig
