[user]
    name = Andy Kluger
    email = AndyKluger@gmail.com
[pull]
    rebase = false
[merge]
    tool = meld
[pager]
    diff = riff
    show = riff
[interactive]
    diffFilter = riff
[core]
    excludesfile = /home/andy/.gitignore
