[user]
    name = Andy Kluger
    email = andykluger@gmail.com
[credential]
    helper = cache
[push]
    default = simple
[ghi]
    token = [redacted]
[core]
    pager = delta | less --tabs=4 -FRXij.5
[interactive]
    diffFilter = delta --color-only
[color]
    ui = true
[github]
	user = andydecleyre
[pull]
	rebase = false
[merge]
	tool = meld
