include "/usr/share/nano/*.nanorc"
include "/usr/share/nano-syntax-highlighting/*.nanorc"

set autoindent
set constantshow
set linenumbers
set locking
set morespace
set mouse
set positionlog
set smarthome
set smooth
set tabsize 4

# root only:
#set nowrap

# user only:
set softwrap
set tabstospaces
