* { font-family: Share !important; font-size: 15pt !important; }
#TabsToolbar { visibility: collapse !important; }
#fill-login, #fill-login-generated-password, #fill-login-and-generated-password-separator { display:none !important; }
