anyio==4.0.0              # via httpx
certifi==2023.11.17       # via httpcore, httpx
exceptiongroup==1.1.3     # via anyio
h11==0.14.0               # via httpcore
httpcore==1.0.2           # via httpx
httpx==0.25.1             # via -r requirements.in
idna==3.4                 # via anyio, httpx
plumbum==1.8.2            # via -r requirements.in
sniffio==1.3.0            # via anyio, httpx
