anyio==3.3.0
    # via httpcore
certifi==2021.5.30
    # via httpx
h11==0.12.0
    # via httpcore
httpcore==0.13.6
    # via httpx
httpx==0.18.2
    # via -r requirements.in
idna==3.2
    # via
    #   anyio
    #   rfc3986
plumbum==1.7.0
    # via -r requirements.in
rfc3986[idna2008]==1.5.0
    # via httpx
sniffio==1.2.0
    # via
    #   anyio
    #   httpcore
    #   httpx
