[Desktop Entry]
Version=1.0
Name=Google Photos
Comment=Google Photos (Ice SSB)
Exec=firefox --class ICE-SSB-googlephotos --profile /home/andy/.local/share/ice/firefox/googlephotos --no-remote https://photos.google.com
IceFirefox=googlephotos
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=google-photos
Categories=GTK;Graphics;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-googlephotos
StartupNotify=true
