[Desktop Entry]
Exec=~/.local/share/window-shortcuts/super-direction.zsh LEFT
Name=super+left
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
