[Desktop Entry]
Exec=rio -e mise exec -- vectro
Name=Calculator
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
