[Desktop Entry]
Exec=playerctl -i mpv,kdeconnect play-pause
Name=Pause
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
