[Desktop Entry]
Exec=playerctl -i mpv,kdeconnect next
Name=Next
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
