[Desktop Entry]
Exec=~/.local/share/window-shortcuts/super-direction.zsh RIGHT
Name=super+right
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
