[Desktop Entry]
Exec=~/.local/share/window-shortcuts/super-direction.zsh --shift UP
Name=super+shift+up
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
