[Desktop Entry]
Exec=qdbus6 com.github.zren.PlasmaHUD /PlasmaHUD toggleHUD
Name=HUD
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
