[Desktop Entry]
Exec=~/.local/share/window-shortcuts/toggle-window.zsh Telegram
Name=Toggle Telegram
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
