[Desktop Entry]
Comment=Rename multiple files with micro
Exec=/home/andy/Code/txtnamer.py %U
Icon=pyrenamer
Name=txtnamer
StartupNotify=false
Terminal=true
Type=Application
Categories=Utilities;
MimeType=application/*;audio/*;font/*;image/*;inode/*;text/*;video/*;x-scheme-handler/*;
